header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 40px 100px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    text-transform: uppercase;
    cursor: pointer;
}

@media(max-width: 798px) {
    header {
        padding: 40px;
    }
}